.main-header {
  height: 7.2rem;
  background: white;
  box-shadow:
    0 2px 4px #00000014,
    0 4px 12px #00000014;
  display: flex;
  padding: 0 2.4rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid black;
  color: black;
  font-weight: 400;
  font-size: 14px;
  margin: 0 3px;
  min-width: 80px;
  height: 40px;
  background: transparent;
}

.btn.reverse {
  background: black;
  color: white;
}

.nav-header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form-container {
  flex: 1;
  background: transparent;
  height: 50px;
  min-width: 18rem;
  border: 1px solid black;
  border-radius: 15px;
}

.search-form-container form {
  display: flex;
  flex-direction: row-reverse;
  height: inherit;
  overflow: hidden;
  padding: 14px 18px;
}

.search-form-container form input {
  flex: 1;
  outline: none;
  border: none;
  background: transparent;
  margin-left: 14px;
}

.search-form-container form button {
  outline: none;
  border: none;
  background: transparent;
}

.nav-item {
  margin: 0 1.2rem;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
}

.image-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  left: -20px;
  padding: 30px 0;
  z-index: 1;
  display: none;
}

.nav-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-list {
  background: white;
  border: 1px solid #eee;
  box-shadow:
    0 2px 4px #00000014,
    0 4px 12px #00000014;
}

.dropdown-list .dropdown-item {
  display: block;
  padding: 10px 20px;
  min-width: 250px;
  letter-spacing: 0.5px;
  color: black;
}

.dropdown-item:hover {
  color: #26b871;
}

.dropdown-panel {
  background: white;
  min-width: 300px;
  padding: 20px;
  box-shadow:
    0 2px 4px #00000014,
    0 4px 12px #00000014;
}

.dropdown-content.right {
  right: 0;
}
